@charset "utf-8";

/* *****************reset********************* */

* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #000;
    display: block;
}

.inner {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* ********SK***************************** */
html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Pretendard';
    font-weight: 400;
    box-sizing: border-box;

    /* 스와이퍼 */
    position: relative;
}

body {
    margin: 0 auto;
}

header {
    height: 100px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    box-sizing: border-box;
}

header h1.logo {
    margin-left: 100px;
}

header .logo a {
    height: 68px;
    padding: 12px;
    box-sizing: border-box;
}

header .logo a img {
    height: 100%;
    display: block;
}

div.wrap {
    width: 100%;
    height: 100px;
    background-color: #fff;
    box-sizing: border-box;

    position: absolute;
    left: 0;
    top: 100px;
    display: none;
}

header.active {
    background-color: rgba(255, 255, 255, 1);
}

/* ****menu******************************************************* */
header nav {}

header nav .menu {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

nav .menu>li {
    padding: 0 60px;
}

nav .menu>li>a {
    font-size: 1.25rem;
    font-weight: 500;
    color: #fff;
}

header.active nav .menu>li>a {
    font-size: 1.25rem;
    font-weight: 500;
    color: #000;
}

.menu>li>a:hover {
    color: #EE7623;
}

header.active .menu>li>a:hover {
    color: #EE7623;
}

.menu>li>div {
    width: 100%;
    height: 100px;

    position: absolute;
    left: 0;
    top: 100%;
    z-index: 98;

    display: none;
}

header .menu li .sub-menu {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu li .sub-menu li a {
    padding: 0 60px;
    font-weight: 600;
    color: #000;
}

header .lang {
    position: absolute;
    right: 150px;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    flex-direction: row;
    gap: 20px;
    font-weight: 700;
}

header .lang a {
    color: #fff;
}

header.active .lang a {
    color: #000;
}

header .lang a:first-child {
    color: #EE7623;
}

header .more {
    height: 100%;
    width: 100px;
    background: #CE0E2D url(../image/ic_menu.svg) center center no-repeat;
}

header .more p {
    font-size: 0;
}

article.banner {
    width: 100%;
    height: 100%;
    position: relative;
}

article.banner video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

article.banner h2 {
    color: #fff;
    font-weight: 900;
    font-size: 4rem;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

article.banner h2 br {
    display: none;
}

article.banner h2 span:first-child {
    color: #EE7623;

}

article.banner h2 span:last-child {
    color: #CE0E2D;
}


article.banner p {
    color: #fff;

    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%) rotate(-90deg);
}

article.banner p span::before {
    content: "";
    display: block;
    width: 8px;
    height: 12px;
    background: url(../image/arr_down.svg) no-repeat center /contain;
    transform: translateX(-24px);
    opacity: 0.25;
    animation: more 1s ease 0.2s infinite;

}

article.banner p span {
    display: inline-block;
    width: 8px;
    height: 12px;
    background: url(../image/arr_down.svg) no-repeat center /contain;
    opacity: 1;
    animation: more 1s ease infinite;

}

article.banner p span::after {
    content: "";
    display: block;
    width: 8px;
    height: 12px;
    background: url(../image/arr_down.svg) no-repeat center /contain;
    transform: translate(-12px, -12px);
    opacity: 0.5;
    animation: more 1s ease 0.8s infinite;


}

/**********************section 리츠 ******************************8*/
article.skreit {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
}

article.skreit .title {
    width: 50%;
    height: 100%;
    background: url(../image/intro_bg_m.jpg) center no-repeat;

    color: #fff;
    position: relative;
}

article.skreit .title .title-des {
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

article.skreit .title h2 {
    font-size: 2.7rem;
    font-weight: 900;

    margin-bottom: 40px;
}

article.skreit .title p {
    font-size: 1.125rem;
    line-height: 1.5;
}

article.skreit .des-box {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;

    background-color: #000;
    color: #fff;
}

article.skreit .des-box .des {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
}

article.skreit .des-box .des .des-left {
    width: 340px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.skreit .des-box .des .img-box {
    height: 64px;
}

.skreit .des-box .des .img-box img {
    height: 100%;
    display: block;
}

.skreit .des-box .des .des-left p {
    font-size: 1.5rem;
    font-weight: 900;
}

.skreit .des-box .des .des-left p span {
    font-size: 1rem;
    color: #555;
}

article.skreit .des-box .des .des-right {
    width: 240px;
    font-size: 3rem;
    font-weight: 900;
    text-align: right;
}

article.skreit .des-box .des .des-right span {
    font-size: 1rem;
}

/* section 포트폴리오********************************************** */

article.portfolio {
    width: 100%;
    height: auto;
    position: relative;
}

article.portfolio .bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url(../image/asset_bg.jpg) center /cover fixed;
}


article.portfolio .inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 120px;
}

.portfolio .content-left {
    width: 50%;
    position: relative;
}

.portfolio .content-left .title {
    padding-top: 180px;
    position: sticky;
    top: 0px;
    color: #fff;
}

.portfolio .title h2 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 40px;
}

.portfolio .title p {
    font-size: 1.125rem;
    line-height: 1.5;
}

/* content-right */

.portfolio .content-right {
    margin-top: 180px;
    width: 50%;
    height: auto;
}

.portfolio .content-right .con {
    width: 300px;
    height: 400px;
    padding: 48px 40px;
    box-sizing: border-box;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    color: #fff;
    position: relative;
}

.con h2 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 16px;
}

.con p {
    font-size: 1.125rem;
    margin-bottom: 80px;
}

.con a {
    position: absolute;
    right: 40px;
    bottom: 48px;

    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 20px;
    box-sizing: border-box;

}

.con1 {
    background: url(../image/asset_photo1.jpg) no-repeat center/cover;
}

.con2 {
    background: url(../image/asset_photo2.jpg) no-repeat center/cover;
}

.con3 {
    background: url(../image/asset_photo3.jpg) no-repeat center/cover;
}

.con4 {
    background: url(../image/asset_photo4.jpg) no-repeat center/cover;
}

.con5 {
    background: url(../image/asset_photo5.jpg) no-repeat center/cover;
}

.con6 {
    background: url(../image/asset_photo6.jpg) no-repeat center/cover;
}


.con:nth-child(2n) {
    margin-left: 420px;
}

.con:hover a {
    border: 1px solid #CE0E2D;
    background-color: #CE0E2D;
}

article.portfolio-tablet {
    display: none;
}


article.feature {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;


    position: relative;
    /* nav에 기준 */
}

article.feature nav {
    width: 100%;
    border-bottom: 1px solid #666;

    /* 나중에 fixed로 변경하기 위해서 설정 */
    position: absolute;
    left: 0;
    top: 0;
}

/* menu 탭 */
article.feature nav ul {
    height: 88px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

article.feature nav ul li {
    width: 200px;
    line-height: 88px;
    text-align: center;
}

article.feature nav ul li a {
    color: #EE7623;
    font-size: 1.125rem;
    font-weight: 800;
}

article.feature nav ul li.on::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #EE7623;
}

article.feature nav ul li a {
    font-size: 1.125rem;
    font-weight: 700;
}

article.feature .growth {
    background: url(../image/feature_sec1_bg.jpg) no-repeat center/cover;
}

article.feature #safety {
    background: url(../image/feature_sec2_bg.jpg) no-repeat center/cover;
}

article.feature #profitability {
    background: url(../image/feature_sec3_bg.jpg) no-repeat center/cover;
}

/* 공통 css */
article.feature>div {
    padding: 120px 0;
}

article.feature>div>.inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: relative;
    padding: 60px 0;
}

article.feature>div>.inner>.media {
    width: 50%;
}

.feature .media .title {
    color: #fff;
    margin: 80px 0 60px;
}

.feature .media .title h2 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.feature .media .title p {
    font-size: 1.5rem;
    font-weight: 800;
}

.feature .media .sub-media {
    width: 100%;
    padding-bottom: 46.25%;
    height: 0;
    position: relative;
}

.feature .media .sub-media iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 464px;
    height: 260px;
}

/****************스와이퍼 *****************/

.feature>div>.inner>.content-wrap {
    width: 50vw;
    height: 100%;
    padding-top: 30px;
    position: absolute;
    left: 50%;
    top: 0;
    overflow: hidden;

}

.feature>div>.inner>.content-wrap .swiper {
    padding-bottom: 60px;
    position: relative;
    overflow: visible;
}

.content-wrap .swiper .swiper-wrapper {
    margin-bottom: 60px;
    width: 100%;
}

.swiper .swiper-wrapper:hover {
    cursor: url(../image/ic_drag.png), auto;
}


.content-wrap .swiper .swiper-slide {
    background-color: #fff;
    border-radius: 16px;
    width: 300px;
    height: 400px;
    padding: 48px 40px;
    box-sizing: border-box;
}

/*  상세내용 */
.swiper .swiper-slide .content-txt {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.swiper-slide .content-txt .top-txt h3 {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 14px;
    color: #000;
    line-height: 0.9;
}

.swiper-slide .top-txt h3 span {
    font-size: 2.9rem;
    font-weight: 800;
    line-height: 0.9;
}

.swiper-slide .top-txt p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
}

.myswiper2 .swiper-slide .txt4 .top-txt {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.myswiper2 .swiper-slide .txt4 .top-txt h3 {
    font-size: 2rem;
    margin-bottom: 30px;
    line-height: 0.9;
}

.myswiper2 .swiper-slide .txt4 .top-txt p {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 0.9;
}

.myswiper2 .swiper-slide .txt4 .top-txt p span {
    font-size: 1.125rem;
    font-weight: 400;
    color: #666;
    margin-top: 3px;
}

.swiper .swiper-slide .bottom-txt {
    font-size: 1.125rem;
    line-height: 1.33;
    color: #666;
}

.swiper .swiper-slide .bottom-txt .icon-box {
    width: 64px;
    height: 64px;
    position: absolute;
    right: 40px;
    bottom: 48px;
}

#growth .swiper-slide .txt1 .icon-box {
    background: url(../image/ic_growth1.png) no-repeat left/ auto 64px;
}

#growth .swiper-slide-active .txt1 .icon-box {
    background: url(../image/ic_growth1.png) no-repeat 100%/ auto 64px;
}

#growth .swiper-slide .txt2 .icon-box {
    background: url(../image/ic_growth2.png) no-repeat left/ auto 64px;
}

#growth .swiper-slide-active .txt2 .icon-box {
    background: url(../image/ic_growth2.png) no-repeat 100%/ auto 64px;
}

#growth .swiper-slide .txt3 .icon-box {
    background: url(../image/ic_growth3.png) no-repeat left/ auto 64px;
}

#growth .swiper-slide-active .txt3 .icon-box {
    background: url(../image/ic_growth3.png) no-repeat 100%/ auto 64px;
}


#profitability .swiper-slide .txt1 .icon-box {
    background: url(../image/ic_profitability1.png) no-repeat left/ auto 64px;
}

#profitability .swiper-slide-active .txt1 .icon-box {
    background: url(../image/ic_profitability1.png) no-repeat 100%/ auto 64px;
}

#profitability .swiper-slide .txt3 .icon-box {
    background: url(../image/ic_profitability3.png) no-repeat left/ auto 64px;
}

#profitability .swiper-slide-active .txt3 .icon-box {
    background-color: #555;
    background: url(../image/ic_profitability3.png) no-repeat 100%/ auto 64px;
}

.feature .content-wrap .swiper .swiper-slide-active {
    transform: translateY(-20px);
    background-color: #EE7623;
    color: #fff;
}

.feature .content-wrap .swiper .swiper-slide-active h3,
.feature .content-wrap .swiper .swiper-slide-active h3 span,
.feature .content-wrap .swiper .swiper-slide-active p,
.feature .content-wrap .swiper .swiper-slide-active p span {
    color: #fff;
}

.content-wrap .pagination2,
.content-wrap .pagination3,
.content-wrap .pagination4 {
    position: absolute;
    left: 0;
    top: 100%;
}

.feature .inner .content-wrap .star {
    position: absolute;
    left: 0%;
    bottom: 5%;
    font-size: 1.125rem;
    color: #888;
}

.swiper-pagination-progressbar {
    background-color: rgba(255, 255, 255, 0.2);
}



:root {
    --swiper-theme-color: #cccc;
}

/* 안전성 */
#safety .swiper-slide .txt2 .icon-box {
    background: url(../image/ic_stability2.png) no-repeat left/ auto 64px;
}

#safety .swiper-slide-active .txt2 .icon-box {
    background: url(../image/ic_stability2.png) no-repeat 100%/ auto 64px;
}

/*>>>>>>>>>>>>>>>>>>>>> ir>>>>>>>>>>>>>>>>>>>>>>>>>> */
article.ir {
    width: 100%;
    padding: 120px 0;
    background: url(../image/sec_ir_bg.jpg) no-repeat center/cover;
}

article.ir h2 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 60px;
    color: #fff;
}

article.ir .ir-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

article.ir .ir-info .info-price {
    width: 700px;
    background-color: #fff;
    border-radius: 16px;
    padding: 48px 40px;
    box-sizing: border-box;
}

.ir-info .info-price .price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.ir-info .info-price .price h3 {
    font-weight: 800;
    font-size: 1.5rem;
}

.ir-info .info-price .price p {
    font-size: 3rem;
    font-weight: 800;
}

.ir-info .info-price .ir-current {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.ir-info .info-price .ir-current>div {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 48px 12px 0;
    color: #666;
}

.ir-info .info-price .ir-current>div>p {
    font-size: 1.25rem;
    font-weight: 800;
}

.ir-info .info-price .ir-current>div>p:last-child {
    color: #999;
}

article.ir .ir-info .ir-link {
    width: 700px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

article.ir .ir-info .ir-link .box {
    width: 100%;
    border: 2px solid #fff;
    border-radius: 16px;
    padding: 48px 40px;
    box-sizing: border-box;

    position: relative;
}

article.ir .ir-info .ir-link .box1:hover {
    background: url(../image/ir_finance_bg.jpg) no-repeat center/cover;
}

article.ir .ir-info .ir-link .box2:hover {
    background: url(../image/ir_stock_bg.jpg) no-repeat center/cover;
}

article.ir .ir-info .ir-link .box3:hover {
    background: url(../image/ir_ir_bg.jpg) no-repeat center/cover;
}

article.ir .ir-info .ir-link .box:hover::after {
    transform: rotate(-90deg);
}

article.ir .ir-info .ir-link .box::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: url(../image/ic_plus.svg) no-repeat center/cover;
    position: absolute;
    right: 40px;
    bottom: 48px;
    transition: all 0.3s;
}

article.ir .ir-link .box a {
    font-size: 1.5rem;
    font-weight: 800;
    color: #fff;
}

/* footer////////////////////////////////////////////////// */
footer {
    width: 100%;
    padding: 80px 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    background-color: #000;
    color: #fff;
    position: relative;
}

footer .inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .footer-logo {
    position: absolute;
    left: 40px;
    top: 80px;
}

footer .footer-logo a {
    width: 87px;
}

footer .footer-logo a img {
    width: 100%;
    display: block;
}

footer .footer-info p:first-child {
    font-weight: 600;
    font-size: 1.125rem;
    margin-bottom: 10px;
}

footer .footer-info ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

footer .footer-info ul li {
    position: relative;
}

footer .footer-info ul li~li::after {
    content: "";
    display: block;
    width: 1px;
    height: 14px;
    background-color: #fff;
    position: absolute;
    left: -10px;
    top: 2px;
}

footer .footer-info ul li span {
    font-weight: 600;
}

footer .footer-info .copyright {
    font-size: 0.875rem;
    margin-top: 10px;
}

footer .privacy {
    display: flex;
    flex: row;
    gap: 20px;

    font-size: 0.875rem;
    font-weight: 500;
    color: #999;
}

footer .privacy p {
    position: relative;
}

footer .privacy p~p::after {
    content: "";
    display: block;
    width: 1px;
    height: 15px;
    background-color: #fff;
    position: absolute;
    left: -10px;
    top: 0px;
}

/* TOP BTN */
.scroll-top {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #CE0E2D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    text-align: center;

    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 99;

    display: none;
}

.scroll-top a {
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 98;

}

.scroll-top a::before {
    content: "";
    display: block;
    width: 14px;
    height: 8px;
    margin: 3px 0 8px;
    background: url(../image/gotop_arr.svg) no-repeat center center/contain;
}

@keyframes bg {
    0% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}



@keyframes move {
    0% {
        left: 50%;
        top: 5px;
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(-50%);
        left: 50%;
        top: 20px;
    }
}

@keyframes more {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.5;
    }

    50% {
        opacity: 0.25;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes pf_bg_motion {
    from {
        opacity: 0;
        transform: scale(1.2);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}