@charset "utf-8";

/* *****************reset********************* */


* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #000;
    display: block;
}

.inner {
    max-width: 1440px;
    margin: 0 auto;
}

/* ********SK***************************** */

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Pretendard';
    font-weight: 400;

    /* 스와이퍼 */
    position: relative;
}

body {
    max-width: 1920px;
    margin: 0 auto;
}

article.feature {
    width: 100%;
    background: url(../image/feature_sec1_bg.jpg) no-repeat center /cover;

    position: relative;
    overflow: hidden;
    /* nav에 기준 */
}

article.feature nav {
    width: 100%;
    border-bottom: 1px solid #666;

    position: relative;
    left: 0;
    top: 0;
}

article.feature nav ul {
    height: 88px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

article.feature nav ul li {
    width: 200px;
    line-height: 88px;
    text-align: center;
}

article.feature nav ul li a {
    color: #EE7623;
    font-size: 1.125rem;
    font-weight: 800;
}

article.feature nav ul li.on::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #EE7623;
}

article.feature nav ul li a {
    font-size: 1.125rem;
    font-weight: 700;
}


/***************************성장성 */
article.feature #growth {
    padding: 120px 0;
    box-sizing: border-box;

    overflow: hidden;
}

article.feature .inner {
    display: flex;
    flex-direction: row;

    width: 100%;
    /* 스와이퍼 기준 */
    position: relative;
}

article.feature .media {
    flex: 1;
}

.feature .media .title {
    color: #fff;
    margin: 80px 0 60px;
}

.feature .media .title h2 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.feature .media .title p {
    font-size: 1.5rem;
    font-weight: 800;
}

.feature .media .sub-media iframe {
    width: 464px;
    height: 260px;
}

/****************스와이퍼 *****************/
.growth .content-wrap {
    flex: 1;

    position: absolute;
    left: 50%;
    top: 0;
}

.growth .content-wrap .swiper {
    width: 100%;
    height: 100%;
}

.growth .content-wrap .swiper-slide {
    /* slidesPerView: "auto"를 쓸 경우, 각 .swiper-slide에 width: auto;를 명시해야 함  */
    width: auto;
    display: flex;
}

.content-wrap .swiper .swiper-slide {
    background-color: #fff;
    border-radius: 16px;
    width: 300px;
    height: 400px;
    padding: 48px 40px;
    box-sizing: border-box;
    margin-top: 80px;
}

.swiper .swiper-slide .content-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.swiper-slide .content-txt .top-txt h3 {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 14px;
    color: #000;
    line-height: 0.9;
}

.swiper-slide .top-txt h3 span {
    font-size: 3rem;
    font-weight: 800;
}

.swiper-slide .top-txt p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
}

.swiper-slide .txt4 .top-txt {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.swiper-slide .txt4 .top-txt h3 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.swiper-slide .txt4 .top-txt p {
    font-size: 1.25rem;
    font-weight: 600;
}

.swiper-slide .txt4 .top-txt p span {
    font-size: 1.125rem;
    font-weight: 400;
    color: #666;
    margin-top: 3px;
}

.myswiper .swiper-slide .bottom-txt {
    font-size: 1.125rem;
    line-height: 1.33;
    color: #666;
}

.swiper .swiper-slide .bottom-txt .icon-box {
    width: 64px;
    height: 64px;
    position: absolute;
    right: 40px;
    bottom: 48px;
}

#growth .swiper-slide .txt1 .icon-box {
    background: url(../image/ic_growth1.png) no-repeat left/ auto 64px;
}

#growth .swiper-slide-active .txt1 .icon-box {
    background: url(../image/ic_growth1.png) no-repeat 100%/ auto 64px;
}

#growth .swiper-slide .txt2 .icon-box {
    background: url(../image/ic_growth2.png) no-repeat left/ auto 64px;
}

#growth .swiper-slide-active .txt2 .icon-box {
    background: url(../image/ic_growth2.png) no-repeat 100%/ auto 64px;
}

#growth .swiper-slide .txt3 .icon-box {
    background: url(../image/ic_growth3.png) no-repeat left/ auto 64px;
}

#growth .swiper-slide-active .txt3 .icon-box {
    background: url(../image/ic_growth3.png) no-repeat 100%/ auto 64px;
}



.content-wrap .swiper .swiper-slide-active {
    transform: translateY(-20px);
    background-color: #EE7623;
    color: #fff;
}

.content-wrap .swiper .swiper-slide-active h3,
.content-wrap .swiper .swiper-slide-active h3 span,
.content-wrap .swiper .swiper-slide-active p,
.content-wrap .swiper .swiper-slide-active p span {
    color: #fff;
}

:root {
    --swiper-theme-color: #cccc;
}

